<% layout('../layouts/default') %>
<h1>
  Missing .env file 
</h1>
<p>
  You will need a Cloudinary account to run this demo project.
  <ol>
    <li>
      If you don't have an account, sign up for free
      <a href="https://cloudinary.com/users/register/free">here</a>.
    </li>
    <li>
      customized dotenv.example configuration file
    </li>
    <li>
      Rename dotenv.example to .env
    </li>
    <li>
      Restart your Node server process.
    </li>
</ol>
<fieldset>
  <legend>Example .env file</legend>
    <pre>
PORT=9000
CLOUDINARY_URL=cloudinary:/xxxxx
    </pre>
</fieldset>
</p>

